* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.page {overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url("./img/forest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #8F9195;
    opacity: .5;
    width: 100%;
    color: white;
}

.header .icon {
    padding: 5px;
}

.header .date {
    display: flex;
    padding: 5px;
}

.header .date div {
    margin-right: 7px;
}

.window {
    background-color: #F0EFEE;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50px;
    top: 10%;
    width: 40%;
    border-radius: 20px;
}

.window .window-header {
    background-color: #F5F4F3;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.window .windows-btn-container {
    height: 15%;
    display: flex;

}

.window .windows-btn-container div {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 0 3px;
}
.close {
    background-color:#FF5F56;
}
.hide {
    background-color:#FDBB2C;
}
.grey {
    background-color:#C4C5C7;
}

.window .inner-block {
    height: 100%;
    background-color:#F0EFEE;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.window .inner-block .inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#E8E8E7;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 95%;
    height: 80%;
}
.window .inner-block .inner-container .inner-container-img-block {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-radius: 2px;
}

.inner-block .inner-container .inner-container-img-block .bg-img-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.bg-image {
    width: 20%;
    height: 20%;
    margin-left: 5px;
    margin-right: 5px;
}
.bg-image img{
    width: 100%;
    height: 100%;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer .footer-block{
    padding: 10px;
    border-radius:15px;
    opacity: .9;
    background-color:#818287;
    display: flex;
    width: fit-content;
    height: fit-content;
}

.footer .footer-block .footer-icon {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 1s;
}

.footer .footer-block .footer-icon:hover {
    width: 65px;
    height: 65px;
}

.footer .footer-block .footer-icon img {
    border-radius: 30%;
    height: 100%;
}

.devider {
    width: 2px; 
    height: 50px;
    background-color:black;
}

