* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}



.page {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url("./img/bg-images/forest.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    transition: 0,9s;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #8F9195;
    opacity: .5;
    width: 100%;
    color: white;
}

.header .icon {
    padding: 5px;
}

.header .date {
    display: flex;
    padding: 5px;
}

.header .date div {
    margin-right: 7px;
}

.window {
    background-color: #F0EFEE;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50px;
    top: 10%;
    width: 40%;
    height: 600px;
    border-radius: 20px;
}

.window .window-header {
    background-color: #F5F4F3;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.window .windows-btn-container {
    height: 15%;
    display: flex;
}

.window .windows-btn-container div {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    margin: 0 3px;
}
.close {
    background-color:#FF5F56;
}
.hide-btn {
    background-color:#FDBB2C;
}
.grey {
    background-color:#C4C5C7;
}

.window .inner-block {
    height: 100%;
    background-color:#F0EFEE;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.window .inner-block .inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#E8E8E7;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    height: 90%;
}
.window .inner-block .inner-container .inner-container-img-block {
    background-color: #FFFFFF;

    border-radius: 2px;
    width: fit-content;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 300px;
}


.window .window-header h3 {
    letter-spacing: 1.2px;
}

.inner-block .inner-container .inner-container-img-block .bg-img-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bg-container {
    text-align: left;
    background-color: #F1F0EF;
    border-radius: 10px;
    color: #D8D7D7;
    box-shadow: 3px 3px 6px #ccc;
}
.search-bg-container i {
    color: #A6A5A5;
    padding: auto;
    margin-right: 10px;
}

#search-bg {
    border: none;
    background-color: #F1F0EF;
}

#search-bg:focus {
    outline: none;
}

.selected {
    border: 3px solid #6A6A6A;
    border-radius: 7px
}

.bg-image {
    width: 100px;
    height: 80px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 2px;
}

.bg-image img{
    width: 100%;
    height: 100%;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer .footer-block{
    padding: 5px;
    border-radius:15px;
    opacity: .95;
    background-color:#818287;
    display: flex;
    width: fit-content;
    height: fit-content;
}

.footer .footer-block .footer-icon {
    width: 75px;
    height: 75px;
    margin-left: 7px;
    transition: 1s;
}

.footer .footer-block .footer-icon:hover {
    width: 85px;
    height: 85px;
}

.footer .footer-block .footer-icon img {
    border-radius: 30%;
    height: 100%;
}

.devider {
    margin-left: 7px;
    width: 0.5px; 
    height: 70px;
    background-color:black;
}

.hide {
    display: none;
}
